<template>
  <div class="col border border-dark drop-zone" @drop="onDrop($event, columnName)"  @dragover.prevent @dragenter.prevent>
    <div class="row gap-1 px-1 justify-content-center mb-2 border border-dark">
    {{ columnName }}
    </div>
    <div v-for="task in tasks" :key="task.id" >

      <TaskItem ref="taskItem" :status="task.status" :name=task.name :id=task.id :tags="task.tags" @dragend="onDrag($event, task)" />

    </div>
  </div>
</template>

<script>
import TaskItem from "./TaskItem.vue";
//import { useTaskStore } from "../stores/tasks";

export default {
  components: {TaskItem},
  props: {
    columnName : String,
  },

  data() {
    return {
      tasks: []
    }
  },

  async created() {
    let response = await fetch('https://todolist.widop.local/api/tasks/'+this.columnName,{
      method: "GET",
      headers: {
        'Accept': '*/*',
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem('apiToken'),
      },
    })
    response = ((await response.json())['hydra:member'])
    this.tasks = response
  },

  methods: {
    async onDrop(evt, status) {
      const taskId = evt.dataTransfer.getData('taskId')
      const response = await fetch('https://todolist.widop.local/api/tasks/'+taskId,{
        method: "PATCH",
        headers:{
          'Accept': '*/*',
          'Content-Type': 'application/merge-patch+json',
          'Authorization': 'Bearer ' + localStorage.getItem('apiToken'),
        },
        body: JSON.stringify({"status": status})
      })
      this.tasks.push((await response.json()))

    },

    async onDrag(evt, task) {
      this.tasks = this.tasks.filter(function(value, index, arr){
        return value.id != task.id;
      })
    },

    async refreshColumn(){
      let response = await fetch('https://todolist.widop.local/api/tasks/'+this.columnName,{
        method: "GET",
        headers: {
          'Accept': '*/*',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + localStorage.getItem('apiToken'),
        },
      })
      response = ((await response.json())['hydra:member'])
      this.tasks = response
      return response
    },
  }

}
</script>

<style scoped>

</style>