<template>
  <nav class="nav justify-content-center bg-danger p-2 gap-3" id="navbar">
    <form method="get">
    <input type="email" id="logMail" required placeholder="Your email" v-model="email">
    <input type="password" id="logPassword" required placeholder="Your password" v-model="password">
    <input type="button" class="btn btn-primary text-white" @click="signIn()" value="Sign in">
    <input type="submit" class="btn btn-primary text-white" @click="fetchApiToken()" value="Log in">
    </form>
  </nav>
</template>

<script>
let email
let password
export default {
  data() {
    return {
      email,
      password
    }
  },
  name: "Login",

  methods: {
    signIn: async function() {
      const regexExp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/gi;
      if (regexExp.test(this.email) && this.password != '') {
        const response = await fetch('https://todolist.widop.local/api/users', {
          method: "POST",
          headers: {
            'Accept': '*/*',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({"email": this.email, "password": this.password})
        })
        await this.fetchApiToken()
      }
    },

    fetchApiToken: async function(){
      const regexExp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/gi;
      if(regexExp.test(this.email) && this.password!='') {
        const response = await fetch('https://todolist.widop.local/api/auth-tokens', {
          method: "POST",
          headers: {
            'Accept': '*/*',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({"email": this.email, "password": this.password})
        })
        //this.$store.apiToken = (await response.json()).token;
        localStorage.setItem('apiToken', (await response.json()).token);
        this.email=''
        this.password=''
        console.log(localStorage.getItem('apiToken'))
        this.$router.push('/dashboard')
      }

    }
  },

}
</script>

<style scoped>

</style>