<template>
  <header>
    <nav class="nav justify-content-center bg-danger p-2 gap-3" id="navbar">
      <router-link to="/" class="nav-link btn btn-primary text-white" @click="logout()" > Log out </router-link>
    </nav>
  </header>
  <router-view></router-view>
</template>

<script>
export default {
  name: "Navbar",

  methods: {
    logout : function() {
      localStorage.setItem('apiToken','')
    }
  }
}
</script>

<style scoped>

</style>