<template>
  <div class="row pb-1 justify-content-center"  >
    <div class="col-1"> <a class="btn btn-danger" @click="deleteTask()" > x </a> </div>
    <div class="col-9 card bg-success drag-el" draggable="true" @dragstart="startDrag($event,this)">

      <strong>{{ name }}</strong>
      <div class="row gap-1 px-1 pb-2 justify-content-center">
        <input type="text" class="col-auto" placeholder="Tag name" v-model="tagName">
        <a class="col-auto btn btn-primary mb-1 mx-1" @click="addTag()">+</a>
        <div class="bg-info rounded">
          <a class="col-auto btn bg-white mb-1 mx-1" v-for="tag in tags" :key="tag.id"> {{ tag.name }} </a>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
let tagName;
export default {
  props: {
    id: Number,
    name: String,
    tags: Array,
    status: String,
  },
  data(){
    return {
      tagName
    }
  },
  methods: {
    startDrag(evt, task) {
      evt.dataTransfer.dropEffect = 'move'
      evt.dataTransfer.effectAllowed = 'move'
      evt.dataTransfer.setData('taskId', task.id,)
    },
    deleteTask: async function () {
      const response = await fetch('https://todolist.widop.local/api/tasks/' + this.id, {
        method: "DELETE",
        headers: {
          'Accept': '*/*',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + localStorage.getItem('apiToken')
        },
      })
      location.reload()
    },
    addTag: async  function(){
      this.tags.push(this.tagName)
      const response = await fetch('https://todolist.widop.local/api/tasks/' + this.id, {
        method: "PATCH",
        headers: {
          'Accept': '*/*',
          'Content-Type': 'application/merge-patch+json',
          'Authorization': 'Bearer ' + localStorage.getItem('apiToken')
        },
        body: JSON.stringify({"tags": this.tags })
      })
    }
  }
}
</script>

<style scoped>

</style>