<script setup>
</script>

<template>

  <div v-if="isAuthenticated()">
  <Navbar />

  <div class="p-2 bg-black bg-opacity-25 text-center">
    <form>
      <input type="text" class="text" required v-model="taskName" placeholder="Task name">
      <input class="btn btn-primary" type="submit" @click="createTask()">
    </form>
  </div>

  <div class="card">
    <div class="card-header text-center">
      Je suis une searchbar
      <div class="card-body">
        <div class="row row-cols-auto gap-1 mb-1 justify-content-center">
          <a class="btn btn-secondary" v-for="tag in tags" :key="tags.id">{{ tag.name }}</a>

        </div>
          <div class="row row-cols-3 text-center center">

          <Column column-name='Todo'/>

          <Column column-name='Doing'/>

          <Column column-name='Done'/>

        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<style scoped>
</style>
<script>
import Navbar from "./Navbar.vue";
import Column from "./Column.vue";
let taskName
export default {
  components: {Navbar,Column},

  data() {
    return {
      tags: [],
      taskName,
    }
  },
  methods: {
    isAuthenticated : async function() {
      if(await localStorage.getItem('apiToken')!=''){
        return true
      }else{
        this.$router.push('/')
      }
    },

    createTask: async function() {
      const response = await fetch('https://todolist.widop.local/api/tasks',{
        method: "POST",
        headers: {
          'Accept': '*/*',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + localStorage.getItem('apiToken')
        },
        body: JSON.stringify({"name": this.taskName })
      })
      await location.reload()
    },
  },
  async created() {
    const response = await fetch('https://todolist.widop.local/api/tags', {
      method: "GET",
      headers: {
        'Accept': '*/*',
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem('apiToken'),
      },
    })
    this.tags = ((await response.json())['hydra:member'])
  }
}
</script>