<template>

    <router-view></router-view>


</template>

<style scoped>

</style>
<script>
import Tasks from "./components/Tasks.vue";


export default {
  components: {
    Tasks
  },

}

</script>